@media (min-width: 768px) and (max-width: 1024px) {
  .gradientCircle {
    top: 20px !important;
    right: 20px !important;
  }
}
@media (min-width: 1280px) {
  .gradientCircle {
    top: 52px !important;
    right: 110px !important;
  }
}


@media (min-width: 1535px) {
  .gradientCircle {
    top: 44px !important;
    right: 158px !important;
  }
}