.containerWrapper {
  width: 100vw;
  transform: translateX(-50%);
  left: 50%;
  overflow: hidden;
  position: relative;
}

.scrollRow {
  display: flex;
  align-items: center;
  gap: 60px;
  width: max-content;
  animation: scrollLeft 25s linear infinite;
  padding-top: 20px;
  padding-bottom: 20px;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
