@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: Inter, sans-serif;
  background-color: #000000;
}

*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  scroll-behavior: smooth;
  cursor: none;
}

::selection{
  color: black;
  background-color: white;
}
::-webkit-scrollbar {
  width: 5px;
  height: 200px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212121;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}
